@charset "utf-8";
/* CSS Document */

html{
	background-image:url(../images/background.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}
body{
    font-family: 'Raleway', sans-serif;

	}

h1{font-size:36px;}
h2{font-size:32px;}
h3{font-size:30px;}
h4{font-size:26px;}
h5{font-size:20px;}
h6{font-size:18px;}

#wrapper{
	margin:0 auto;
	padding:0;
	width:1200px;
}
#head{
	background-color:#BF0000;
	overflow:hidden;
	margin-bottom:1px;
	
}
#logo{
	float:left;
}
	


#nav{
	margin-left:250px;
}
#nav ul{
	margin:0;
	padding:0;
	list-style:none;
	
}

#nav ul li{
	float:left;
	font-size:20px;
	color:#fff;
	cursor: pointer;
	  
	
}

#nav ul li a:link,
#nav ul li a:visited{
	color:#fff;
	text-decoration:none;
}
#nav ul li a:hover{
	background-color:#222151;
}
#nav ul li a:active{
	color:#000;
}
#nav ul li a{
	padding-left:20px;
	padding-right: 20px;
	display:block;
	height: 84px;
 	line-height:84px;
}
.searchBar{
	float: right;
	height: 84px;
	 line-height:84px;
	 margin-right: 20px;
	 
}
.current{
	background-color:#222151 ;
}
.searchText{
	padding: 5px;
	font-size: 16px;
	border: 1px solid grey;
	background: #f1f1f1;
	border-radius: 4px;
  }
  
  /* Style the submit button */
  .stupidButton {
	
	
	padding:5px 10px 5px 10px;
	background: rgb(174, 174, 175);
	color: white;
	font-size: 16px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
  }
  
.stupidButton:hover {
	background:rgb(60, 58, 70);
  }
  
  /* Clear floats */
  


#slika{
	position:absolute;
	top:260px;
	left:800px;
	
}
#banner{
	position:relative;
	margin-bottom:0px;
	
}
#main{
	width:1180px;
	background-color:#fff;
	padding:10px;
	float:left;
	overflow:hidden;
	margin-bottom:5px;
	
	
}

#main h1, h2, h3{
	border-bottom:5px solid #BF0000;
	margin-bottom:10px;
}
.dugme{
  margin-left:750px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius:11px;
}



#side h5, h6{
	border-bottom:5px solid #A4A2A2;
}
#side ul{
	list-style:none;
	padding:0;
}
#side ul li{
	float:left;
	
	padding:10px;
}
#side ul li a:link,
#side ul li a:visited{
	color:#fff;
}
#side ul li a:hover{
	color:#D46E70;
}
.deo1{
	overflow:hidden;
}
.deo1 img{
	float:left;
}
.deo1 h2{
	margin-left:5px;
}
#mainOglas{
	display: table; 
	width:1180px;
	background-color:#fff;
	padding:10px;
	float:left;
	overflow:hidden;
	margin-bottom:5px;

}

#mainOglas h1{
	border-bottom:5px solid #BF0000;
	margin-bottom:20px;
}

.naslovOglasi{
	float: left;
	width: 60%;
}
.oglas{
	width: 568px;
  padding:6px;
  border-width: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
	) 1 100%;
	float: left;
}

.oglas table td{
	
	text-align: left;
}

.oglas table th{
	text-align: left;
	padding-left: 5px;
}

.oglas h4{
	margin: 0px;
}

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=password],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=password]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

.deo3 img{
	float:left;
	margin-right:5px;
}
.deo3{
	width:420px;
	float:left;
	margin-top:0px;
}
.deo3 h4{
	margin-top:0;
}
#foot{
	clear:both;
	height:40px;
	background-color:#DADDDB;
	text-align:center;
	line-height:40px;
	
	
}

	
	
